*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: sans-serif;
}
body{
    background-color: #59BC9A;
    display: flex;
    justify-content: center;
    height: 100vh;
}
div{
    display: flex;
    align-items: center;
}
p, strong{
    font-size: 1.4rem;
    margin-left: .5rem;
}

.a, .b{
    height: 3.6rem;
    position: absolute;
    width: 100%;
}

.capsule{
    position: relative;
    margin-top: 3rem;
    overflow: hidden;
    color: white;
    display: block;
    height: 3.6rem;
    width: 80%;
    border-radius: 2.5rem;
    background-color: #72D3B2;
    z-index: -1;
}

.fix{
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

.clipp {
    position: absolute;
    height: 3.6rem;
    width: 100%;
    background-color: #2DAC80;
    opacity: 0;
}

.animation-wipe {
    mask-image: linear-gradient(-30deg, #0000 55%, #000 60%);
    mask-size: 400%;
}

.animation-wipe.animate-in {
    animation-name: text-wipe;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards ;
}

@keyframes text-wipe {
    0% {
        -webkit-mask-position: 100%;
        opacity: 1;
    }

    100% {
        -webkit-mask-position: 0%;
        opacity: 1;
    }
}

.anim-delay-2{
    animation-delay: 5s;
}

.clipp2 {
    position: absolute;
    height: 3.6rem;
    width: 100%;
    background-color: #E46492;
    opacity: 0;
}